@use '@material/top-app-bar';
@use '@material/icon-button/mdc-icon-button';
@use '@material/top-app-bar/mdc-top-app-bar';
@use '@material/tab-bar/mdc-tab-bar';
@use '@material/tab-bar';
@use '@material/tab';
@use '@material/tab-indicator';
@use '@material/ripple';
@use '@material/theme/color-palette';
@use '@material/theme';
@use '@material/menu/mdc-menu';
@use '@material/menu';
@use '@material/list/mdc-list';
@use '@material/menu-surface/mdc-menu-surface';
@use "@material/drawer/mdc-drawer";

.demo-top-app-bar-with-tabs {
  //@include top-app-bar.fill-color(color-palette.$yellow-800);
  //@include top-app-bar.icon-ink-color(color-palette.$blue-900);

  .mdc-tab-bar {
    margin-top: 1em;

    @media (max-width: 599px) {
      margin-top: .5em;
    }

    .mdc-tab {
      @include tab.text-label-color(on-primary);
      @include tab.icon-color(on-primary);
    }

    .mdc-tab__ripple {
      @include ripple.states(color-palette.$blue-700);
    }

    .mdc-tab-indicator {
      @include tab-indicator.underline-color(color-palette.$blue-700);
      @include tab-indicator.underline-height(3px);
    }
  }
}
